<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Sepktra ATM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto"  >







        <li><a class="nav-link" href="javascript:void(0);" routerLink="/checkbalance" >Check Balance</a></li>
        <li><a class="nav-link" href="javascript:void(0);" routerLink="/deposit" >Deposit</a></li>
        <li><a class="nav-link" href="javascript:void(0);" routerLink="/withdraw" >Withdraw</a></li>
        <li><a class="nav-link" href="javascript:void(0);" routerLink="/transfer" >Transfer</a></li>




  </ul>

  </div>
</nav>
